doctype html
html(lang="es")

  head
    include includes/head.jade

  body

    include includes/header.jade

    include includes/navigation.jade

    include includes/about.jade

    include includes/portfolio.jade

    include includes/process.jade

    include includes/blog.jade

    include includes/contact.jade

    include includes/footer.jade

    include includes/scripts.jade
