section#about
  div.intro
    p W3D es un estudio web de Barcelona que confía en un buen <strong>diseño</strong> para añadir valor a tu marca. Nuestro objetivo es la <strong>comunicación y la experiencia de usuario</strong>, prestando atención a los pequeños detalles.
  
  div.mockup
    div.filter
    
    img(src="images/devices.png", alt="")
      
  div.description
    .multicolumn
      .col-1
        p Somos un estudio de diseño web que trabajamos para ofrecer un producto artesano y de calidad que pueda distinguirte del resto. Nos gusta el trabajo bien hecho y un trato cercano con el cliente.
        a.portfolio-cta(href="#portfolio") Portfolio
        
      .col-2
        p Nuestros productos se caracterizan por su optimización y rendimiento, del mismo modo damos importancia al rendimiento SEO para que seas correctamente indexado en las búsquedas web.
        a.more-cta(href="") Más Información
        
      .col-3
        p Queremos demostrarte que un sitio web no es un gasto, sino una inversión. Te damos la oportunidad de darle una identidad a tu marca, y que se distinga del resto de la competencia. Genial, ¿no?
        a.contact-cta(href="#contact") Contacto
        
  
  div.overlay
    h3 W3D es un estudio web de Barcelona que confía en un buen diseño para añadir valor a tu marca.
    
    .objetives-wrap
      article
        figure
          img(src="images/about/about-1.svg", alt="")
        h5 Diseño Responsivo
        p Transmitimos tu mensaje a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
          
      article
        figure
          img(src="images/about/about-2.svg", alt="")
        h5 Diseño Responsivo
        p Transmitimos tu mensaje a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
          
      article
        figure
          img(src="images/about/about-3.svg", alt="")
        h5 Diseño Responsivo
        p Transmitimos tu mensaje a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
          
                  
      article
        figure
          img(src="images/about/about-4.svg", alt="")
        h5 Diseño Responsivo
        p Transmitimos tu mensaje a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
          
      article
        figure
          img(src="images/about/about-5.svg", alt="")
        h5 Diseño Responsivo
        p Transmitimos tu mensaje a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
                          
                          
      article
        figure
          img(src="images/about/about-6.svg", alt="")
        h5 Diseño Responsivo
        p Transmitimos tu mensaje a los clientes, para que tu marca sea percibida como única, identificable y distinguible del resto.
        
    a.back-cta(href="") Volver
