div.separator#contact
  h6 Siempre existe el momento para empezar tu proyecto
  
div.socket
  .socket-wrap
    .col-1
      img(src="images/logowhite.svg", alt="")
      p 93 676 64 50
      p info@w3ddesign.com
      
    .col-2
      ul.social
        li
          a(href="")
            img(src="images/social/facebook.svg", alt="")
        li
          a(href="")
            img(src="images/social/twitter.svg", alt="")
        li
          a(href="")
            img(src="images/social/behance.svg", alt="")
        li
          a(href="")
            img(src="images/social/github.svg", alt="")
              
      p Suscríbete a nuestro Newsletter
      input(type="email", placeholder="Email *")
      label(for="email") Email
      span.checkbox
        img(src="images/checkmark.svg", alt="")
      
    .col-3
      img(src="images/social/coffee.png", alt="")
      span DONACIONES
      p ¿Quieres invitarnos a un café?
      img(src="images/social/paypal.png", alt="")

footer.footer
  img(src="images/logosimple.svg", alt="")
  p W3D Design © 2015   
