header#start
  div.navigation-wrapper
    nav.navigation
      a.logo.scroll(href="#start")
        img(src="images/logowhite.svg", alt="W3D Design Logo")
      ul
        li
          a.scroll(href="#start") Inicio
        li
          a.scroll(href="#about") Quiénes Somos
        li
          a.scroll(href="#portfolio") Portfolio
        li
          a.scroll(href="#process") Proceso
        li
          a.scroll(href="#blog") Blog
        li
          a.scroll(href="#contact") Contacto
          
     
  h1 Creamos la mejor experiencia para tus usuarios

  .mouse-icon
    img(src="images/mouse.svg", alt="Scroll Down")
      
      
  
  .mobile-nav-toggle
    img(src="images/menu.svg", alt="")
      
      

  div.mobile-wrapper
    nav.mobile-navigation
      a.logo-mobile.scroll(href="#start")
        img(src="images/logowhite.svg", alt="W3D Design Logo")
      ul
        li
          a.scroll(href="#start") Inicio
        li
          a.scroll(href="#about") Quiénes Somos
        li
          a.scroll(href="#portfolio") Portfolio
        li
          a.scroll(href="#process") Proceso
        li
          a.scroll(href="#blog") Blog
        li
          a.scroll(href="#contact") Contacto
          
