section#process
  div.filter
  
  div.content
    h3 Descubrir, Hacer, Observar, Repetir
    
    p W3D es un estudio web de Barcelona que confía en un buen diseño para añadir valor a tu marca. Nuestro objetivo es la comunicación y la experiencia de usuario, prestando atención a los pequeños detalles.
    
    img(src="images/process-mockup.png", alt="")
